@font-face {
  font-family: 'EkkamaiStandard-Light';
  src: url('css/fonts/EkkamaiStandard-Light.ttf') format('truetype');
}

body {
  font-family: EkkamaiStandard-Light;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  /* grid-template-columns:  320px;
  grid-template-rows: 40% 400px; */
  grid-gap: 10px;
  justify-content: center;
  text-align: center;
  margin: 0px 10px;
}

.imgC {
  border-radius: 50%;
  margin: 15px ;
}

.div1{
 
  text-align: center;
}
.p1{
  font: 1em sans-serif;
}

#mainC{
  display: grid;
  
  grid-template-columns:  40% 60%;
  grid-template-rows: 10% 90%;
  grid-template-areas: "head  head"
                       "img  main";
  grid-gap: 3px;
  justify-content: center;
  text-align: center;
  height: 320px;
}

#mainC > header  {
  grid-area: head;
  background-color: #8ca0ff;
  align-self: center;
}
#mainC > image1  {
  grid-area: img;
  background-color: #8ca0ff;
  /* justify-content: center;
  text-align: center; */
  /* align-self: center; */
}


.article {
  position: relative;
  height: 320px;
}

/* .block1 {
  height: auto;
  width: 100%;
  object-fit: cover;
  justify-content: center;
  text-align: center;
  margin: 30px 30px;
  
} */

.test1 {
  display: flex;
  justify-content: center;
  margin: 5px auto;
  align-items: center;
  /* margin-bottom: 30px; */
  /* background: rgb(160, 109, 109); */
}

.test2 {
  display: flex;
  justify-content: center;
  margin: 5px auto;
  align-items: center;
  /* margin-bottom: 30px; */
  /* background: rgb(160, 109, 109); */
}

.h1_logo {
  font-family: 'EkkamaiStandard-Light';
  vertical-align: baseline;
  font-size: 300%;
  color: #2A416A;

}

.h3 {
  font-family: 'EkkamaiStandard-Light';
  vertical-align: baseline;
  font-size: 150%;
  color: #2A416A;
}

ol,ul {
  list-style:none;
 
    padding: 0;
    margin: 15px;
}

.h2{
  padding: 0;
  margin: 0;
}

li {
  text-align: left;
  margin: 0 0 0 35px;
}
.sp1{
  text-align: left;
}
.sp2{
  margin: 0 0 0 40px;
}

.sp3{
  margin: 0 0 0 48px;
}