@font-face {
  font-family: 'EkkamaiStandard-Light';
  src: url('fonts/EkkamaiStandard-Light.ttf') format('truetype');
}

body {
  font-family: EkkamaiStandard-Light;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  /* grid-template-columns:  320px;
  grid-template-rows: 40% 400px; */
  grid-gap: 10px;
  justify-content: center;
  text-align: center;
  margin: 0px 10px;
}

.imgC {
  border-radius: 50%;
  margin: 15px ;
}

.div1{
 
  text-align: center;
}

#mainC{
  display: grid;
  
  grid-template-columns:  40% 60%;
  grid-template-rows: 20% 80%;
  grid-template-areas: "head  head"
                        "nav  main";
  grid-gap: 10px;
  justify-content: center;
  text-align: center;
  height: 400px;
}

#mainC > header  {
  grid-area: head;
  background-color: #8ca0ff;
}
#mainC > image1  {
  grid-area: nav;
  background-color: #8ca0ff;
  justify-content: center;
  text-align: center;
  align-self: center;
}


.article {
  position: relative;
  height: 400px;
}

/* .block1 {
  height: auto;
  width: 100%;
  object-fit: cover;
  justify-content: center;
  text-align: center;
  margin: 30px 30px;
  
} */

.test1 {
  display: flex;
  justify-content: center;
  margin: 5px auto;
  align-items: center;
  /* margin-bottom: 30px; */
  /* background: rgb(160, 109, 109); */
}

.test2 {
  display: flex;
  justify-content: center;
  margin: 5px auto;
  align-items: center;
  /* margin-bottom: 30px; */
  /* background: rgb(160, 109, 109); */
}

.h1_logo {
  font-family: 'EkkamaiStandard-Light';
  vertical-align: baseline;
  font-size: 300%;
  color: #2A416A;

}

.h3 {
  font-family: 'EkkamaiStandard-Light';
  vertical-align: baseline;
  font-size: 150%;
  color: #2A416A;
}